*build/build
*build/dist
Build/OSCLeash.spec

Controllers/__pycache__/DataController.cpython-310.pyc
Controllers/__pycache__/PackageController.cpython-310.pyc
Controllers/__pycache__/ThreadController.cpython-310.pyc